{% extends 'CMSBaseBundle::layout.html.twig' %}

{% block _content %}	
	<div class="block two-col">
		<h2 class="header">
			{% block _title %} {{ newsArticle.title | raw }} {% endblock %}
			{% if admin %}
				<div class="admin">
					<a href="{{ path('edit_news',  { 'slug': newsArticle.slug }) }}" 	
						class="edit"> 	
							<img src="{{ asset('images/icons/page_edit.png') }}" /> 		
					</a>
					<a href="{{ path('delete_news',  { 'slug': newsArticle.slug }) }}" 	
						class="delete"> 	
							<img src="{{ asset('images/icons/page_delete.png') }}" /> 		
					</a>
				</div>
			{% endif %}
			<div class="subheader">{{ newsArticle.getPublishedDate | date('l d-m-Y') }}</div>
		</h2>
		
		<div class="content" style="min-height: 300px;">
			<div style="float: left;">{{ newsArticle.content | raw }}</div>
			<div style="float: right;">
				{% if newsArticle.image %}
					<img src="{{ newsArticle.image | apply_filter('news_image_full') }}" />
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}